* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(154,20,27);
}

section#score {
  width: 100%;
  padding-top: 1rem;
}

#main {
  background-color: background: rgb(223,0,27); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(223,0,27) 0%, rgb(222,0,26) 38%, rgb(190,9,26) 63%, rgb(187,8,27) 63%, rgb(179,13,27) 69%, rgb(179,12,29) 71%, rgb(172,14,28) 74%, rgb(169,15,27) 78%, rgb(161,17,27) 83%, rgb(152,21,27) 94%, rgb(154,20,27) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(223,0,27) 0%,rgb(222,0,26) 38%,rgb(190,9,26) 63%,rgb(187,8,27) 63%,rgb(179,13,27) 69%,rgb(179,12,29) 71%,rgb(172,14,28) 74%,rgb(169,15,27) 78%,rgb(161,17,27) 83%,rgb(152,21,27) 94%,rgb(154,20,27) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(223,0,27) 0%,rgb(222,0,26) 38%,rgb(190,9,26) 63%,rgb(187,8,27) 63%,rgb(179,13,27) 69%,rgb(179,12,29) 71%,rgb(172,14,28) 74%,rgb(169,15,27) 78%,rgb(161,17,27) 83%,rgb(152,21,27) 94%,rgb(154,20,27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df001b', endColorstr='#9a141b',GradientType=0 ); /* IE6-9 */;
}
#board {
  width: 640px;
  height: 640px;
  margin: 0 auto;
  background-color: #ececec;
  margin-top: 1rem;
}

#board  > div {    
  border: 1px solid black;
  float: left;
  width: 64px;
  height: 64px;
}


section#score div {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 0 auto;
}

.furry {
  background-image: url('../images/Elon-Musk.jpg');   /* furry.png was before */
  background-repeat: no-repeat;
  background-size: cover;
}

.coin {
  background-image: url('../images/tesla.png');   /* coin.png was before */
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(204, 0, 0, 0.80);
}

section#over div {
  display: inline-block;
  position: fixed;
  top: 43%;
  width: 50%;
  left: 24vw;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.invisible {
  display: none;
  height: 0.5px;
}

footer {
  text-align: center;
  color: rgb(255, 255, 255);
  width: 15em;
  height: 3em;
  padding: 0.5em;
  margin: 1em auto;
  background-color: rgb(154,20,27);
  p {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}